*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 600;
}

.img{
   max-width: 100%;
}

.flex{
   display: flex;
}

.fixed{
   position: fixed;
}

.relative{
   position: relative;
}

.absolute{
   position: absolute;
}

a{
   text-decoration: none;
   align-items: center;
}

.underline{
   text-decoration: underline;
}

.btn-blu{
   background-color: rgb(0, 97, 255);
   color: white;
}

.btn-white{
   color: black;
   border: 1px solid black;
}

.btn-blu:hover{
   opacity: 0.75;
   transition: all 0.3s;
}

.btn-white:hover{
   background-color: rgb(241, 241, 241);
   transition: all 0.3s;
}

li{
   list-style: none;
}

nav div:hover{
   border-bottom: 1.5px solid rgb(0, 97, 255);
}




/* INIZIO HEADER */

/* MENU FIXED */
.menu-fixed{
   width: 100%;
   height: 80px;
   align-items: center;
   justify-content: space-between;
   z-index: 1;
   background-color: white;
   flex-wrap: wrap;
}

nav{
   height: 100%;
   align-items: center;
}

.link-fixed{
   color: black;
   height: 100%;
   align-items: center;
   height: 100%;
}

.menu-fixed div{
   height: 100%;
}

.text-fixed{
   margin-top: 3px;
   height: 100%;
}

.logo-fixed{
   width: 130px;
   max-height: 26px;
}

.link-fixed, .logo-fixed{
   margin: 0 20px;
}

.btn-fixed{
   padding: 10px 15px;
   margin-right: 20px;
}





/* JUMBOTRON */
.jumbotron{
   justify-content: center ;
   background-color: rgb(180, 208, 231);
   padding-top: 80px;
}

.container.jumbo{
   width: 1200px;
   min-height: 750px;
   margin: 0 20px;
}

h1{
   margin-top: 100px;
   font-size: 70px;
   margin-right: 80px;
   font-weight: 800;
}

.jumbo p{
   width: 390px;
   font-size: 17px;
   margin-top: 60px;
   margin-bottom: 50px;
}

.img.jumbo{
   width: 70%;
   right: 0;
   bottom: -70px;
}

.btn-jumbo{
   font-size: 20px;
   padding: 15px;
}

.annulla{
   font-size: 19px;
   margin-top: 40px;
}

.fa-arrow-down{
   font-size: 50px;
   bottom: 40px;
}


/* FINE HEADER */





/* INIZIO MAIN */

/* INIZIO SEZIONE BUSINESS */
.section-business{
   justify-content: center;
}

.container.business{
   width: 50%;
   margin-top: 160px;
   flex-wrap: wrap;
   justify-content: space-between;
}

.blocco.orizzontale{
   width: 1000px;
   height: auto;
}

.blocco.verticale{
   width: 300px;
   margin-top: 10px;
}

.blocco.orizzontale.business{
   border: none;
   margin-bottom: 45px;
   height: auto;
}

.blocco.orizzontale.enterprise{
   margin-top: 45px;
}

.blocco.verticale,
.blocco.orizzontale.enterprise{
   border: 1px solid black;
}




/* PRIMO BLOCCO ORIZZONTALE */
h2{
   font-size: 40px;
}

.radio-fatturazione{
   margin-top: 60px;
}

.radioDX{
   margin-left: 50px;
}

.fatturazione{
   margin-left: 5px;
}
/* PRIMO BLOCCO ORIZZONTALE */



/* INIZIO MODIFICHE IN COMUNE TRA I BLOCCHI */
.header-singolo,
.header-team,
.header-azienda{
   text-align: center;
   border-bottom: 1px solid black;
}

.text-singolo,
.text-team,
.text-azienda{
   display: inline-block;
   font-size: 14px;
   margin: 6px;
}

.box-professional,
.box-advanced,
.box-enterprise{
   margin-left: 30px;
}

h3{
   font-size: 23px;
   margin: 35px 0 25px 0;
}

.abbonamento{
   margin: 15px 0 50px 0;
   color: rgb(132, 132, 132);
}

.info-business,
.info-advanced,
.info-enterprise{
   width: 220px;
   margin-right: 25px;
   font-size: 14px;
}

.correzione-allineamento{
   margin-bottom: 20px;
   justify-content: space-between;
}

.btn-prova30g,
.btn-contattaci{
   display: inline-block;
   width: 240px;
   padding: 10px 25px;
   margin: 50px 0 50px 0;
   text-align: center;
}

.link-acquista-ora{
   margin-bottom: 40px;
}

.small.row{
   width: 50px;
   border-color: rgba(163, 163, 163, 0.291);
}

h5{
   font-size: 15px;
   margin: 30px 0 35px 0;
}

.icon-check{
   color: blue;
   font-size: 18px;
}
/* FINE MODIFICHE IN COMUNE TRA I BLOCCHI */




/* ULTIMO BLOCCO ORIZZONTALE */
.btn-contatta{
   padding: 10px 20px;
   right: 30px;
   top: 60px;
}

.info-enterprise-orizzontale{
   width: 70%;
   margin: 50px 0 20px 0;
}
/* FINE SEZIONE BUSINESS */




/* INIZIO SEZIONE PARTNER */
.section-partner{
   width: 100%;
   margin-top: 150px;
   justify-content: center;
}

.container.partner{
   width: 1000px;
   height: auto;
   justify-content: space-between;
}

.section-partner .img-partner{
   width: 60%;
   object-fit: scale-down;
}

.container-text{
   width: 40%;
   margin-left: 20px;
}

.container-text h3{
   margin-right: 100px;
}

.container-text p{
   margin: 20px 0;
   margin-bottom: 50px;
}

.btn-partner{
   padding: 10px 15px;
   font-size: 17px;
}
/* FINE SEZIONE PARTNER */




/* INIZIO SEZIONE OPERAZIONI */
.section-operazioni{
   justify-content: center;
}

.container.operazioni{
   width: 1000px;
   height: auto;
   flex-wrap: wrap; 
}

.h2-operazioni{
   margin-top: 160px;
   text-align: center;
}

.card{
   width: calc(1000px / 3);
   margin: 70px 0 0 0;
}

.card h3{
   font-size: 25px;
   margin: 0 0 30px 0;
}

.card p{
   margin-right: 40px;
}
/* FINE SEZIONE OPERAZIONI */





/* INIZIO SEZIONE QUADRATONI*/

/* TITOLO */
.titolo-quadratoni{
   justify-content: center;
}


.container.titolo.quadratoni{
   width: 1000px;
   margin: 200px 0 150px 0;
   
}

.container.titolo.quadratoni h2{
   margin: 0 300px 75px 0;
}

.container.titolo.quadratoni span{
   text-decoration: underline;
}

/* QUADRATONI */
.quadrato-grande{
   width: calc(100vW/3);
   aspect-ratio: 1/1;
   min-width: 520px;
   flex-wrap: wrap;
}

.quadrato-piccolo{
   width: 50%;
   height: 50%;
   justify-content: center;
   align-items: center;
}

.quadrato-grande img{
   filter: invert(100%);
}

.quadrato-piccolo:hover{
   border: 15px solid rgba(228, 228, 228, 0.726);
   cursor: pointer;
}


/* LEFT & RIGHT SQUARES */
.quadrato-piccolo img{
   width: 50%;
}

.quadrato-piccolo.uf img{
   height: 10%;
}

.designit{
   background-color: rgb(162, 211, 155);
}

.asu{
   background-color: rgb(97, 7, 43);
}

.uf{
   background-color: rgb(0, 147, 206);
}

.topps{
   background-color: rgb(255, 28, 28);
}

.world{
   background-color: rgb(213, 0, 31);
}

.hearst{
   background-color: rgb(180, 208, 231);
}

.bonely{
   background-color: rgb(13, 36, 129);
}

.clear{
   background-color: rgb(255, 216, 48);
}


/* CENTER SQUARE */
.quadrato-grande.centrale{
   padding: 50px 50px 200px 50px;
   overflow: auto;
   background-color: rgb(245, 245, 245);
}

.quadrato-grande.centrale img{
   width: 45%;
   filter: invert(0%);
}

.middle.row{
   width: 100px;
   margin: 40px 0;
   border-color: rgba(163, 163, 163, 0.291);
}

.quadrato-grande.centrale .end-text{
   margin-top: 50px;
}
/* FINE SEZIONE QUADRATONI*/





/* INIZIO SEZIONE PORTA */
.section-porta{
   justify-content: center;
   background-color: rgb(180, 208, 231);
   height: 360px;
}

.container.porta{
   width: 1000px;
   justify-content: space-between;
   align-items: center;
}

.container.porta h2{
   width: 50%;
   color: rgb(97, 8, 43);
}

.container.porta .box-btn{
   width: 50%;
}

.btn-porta{
   background-color: white;
   border: none;
   padding: 10px 10px;
   right: 0;
   top: -40px;
}
/* FINE SEZIONE PORTA */





/* INIZIO SEZIONE DOMANDE FREQUENTI */
.section-domande{
   justify-content: center;
}

.container.domande h2{
   margin: 160px 0 70px 0;
}

.box-domande{
   width: 1000px;
   min-height: 100px;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid rgba(145, 145, 145, 0.649);
}

.box-domande.diverso{
   border-bottom: 1px solid rgba(145, 145, 145, 0.649);
   margin-bottom: 150px;
}

.box-domande p{
   font-weight: 700;
}

.fa-chevron-down,
.fa-chevron-up{
   font-size: 13px;
   margin-right: 50px;
}

.box-domande p.visible{
   margin: 40px 0;
}

.box-domande p.hidden{
   display: none;
   margin: 50px 0 30px 0;
   font-weight: 400;
}

.fa-solid.hidden{
   display: none;
}

.box-domande:hover .hidden{
   display: block;
}

.box-domande:hover .fa-solid.visible{
   display: none;
}
/* FINE SEZIONE DOMANDE FREQUENTI */

/* FINE MAIN */









/* INIZIO FOOTER */
footer{
   background-color: black;
   color: white;
   height: auto;
}

.section-end-menu{
   width: 100%;
   justify-content: center;
}

.container.end-menu{
   width: 1200px;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 20px;
}

.container.end-menu ul{
   margin-top: 50px;
}

.container.end-menu li{
   font-weight: 400;
   line-height: 250%;
}

.link-end-menu{
   color: white;
}

.link-end-menu:hover{
   text-decoration: underline;
}



.end-menu-language{
   justify-content: center;
}

.container.end-menu-language{
   width: 1200px;
   margin: 0 20px;
}

.large.row{
   width: 120px;
   margin: 100px 0 50px 0;
   border-color: rgb(132, 132, 132);
}

.lingua{
   margin-bottom: 50px;
   color: rgb(132, 132, 132);
}
/* FINE FOOTER */
